body {
    margin-top: 20px;
}

h1 .link-to-page {
    float: right;
    margin: 0 5px 0 6px;
    color: #fff;
    background-color: #007bff;
}

h4 .link-to-page:hover {
    background-color: #0056b3;
}

h4 .link-to-page1 {
    float: right;
    margin: 0 5px 0 6px;
    color: #fff;
    background-color: #555555
}

h4 .link-to-page1:hover {
    background-color: #0056b3;
}

h4 .link-to-page2 {
    float: right;
    margin: 0 5px 0 6px;
    color: #fff;
    background-color: #006b1b
}

h4 .link-to-page2:hover {
    background-color: #0056b3;
}

.float-left {
    float: right;
}

